body {
    font-family: Arial , sans-serif;
    text-align: center;
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

#game-container {
    margin: 50px auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    border: 2px solid #69095c; 
    border-radius: 10px; 
    background-color: #eedef0; 
    box-shadow: 0 0 10px rgba(22, 1, 19, 0.1); 
}

h1 {
    font-family: 'Calligraffitti', cursive;
    font-weight: 700;
    font-size: 5rem;
    text-shadow: -15px 5px 20px #ced0d3;
    letter-spacing: 0.02em;
    text-align: center;
    color: #dfa6f1;
    text-shadow: 5px 5px 0px #c411c4, 
      10px 10px 0px #FFD662, 
      15px 15px 0px  #FF80BF, 
      20px 20px 0px #EF5097, 
      25px 25px 0px #6868AC, 
      30px 30px 0px #90B1E0;
  }

h2 {
    font-size:30pt;
    white-space: nowrap;
    overflow: hidden;
    line-height: 220px;
    text-shadow: 0 10px 7px rgba(0,0,0,0.4),0 -10px 1px #fff;
    letter-spacing: -3px;
    animation: glitch .3s linear infinite;
    cursor: pointer;
  }
  
  @keyframes glitch {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
    }
    80% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }


input, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
}

#reset-button {
    margin-top: 20px;
    background-color: #4e10c0;
    color: white;
    border: none;
    border-radius: 5px;
}

#submit-button {
    background-color: #3192e2;
    color: white;
    border: none;
    border-radius: 5px;
}

#images-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.image-box {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    border: 2px solid #5e0570; 
    background-color: #cfc1dd; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image-box img {
    width: 100%;
    height: auto;
    visibility: hidden; 
    position: absolute; 
}


